@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
}

html{
  font-size: 16px;
}


body{
  font-family: "Nunito Sans", sans-serif;
}

a{
  color: inherit;
  text-decoration: none;
}

h1{
  margin: 0;
  font-size: 1.2rem;
}

.wrapper{
  /* border: 1px solid red; */

  width: min(100% - 3rem, 1440px);
  margin: 0 auto;
}

.hidden{
  display: none;
}

.app__header{


  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.app__header--shadow{
  box-shadow: 0 0 8px hsl(0, 0%, 52%);
}

.app__mode{
 display: flex;
 align-items: center;
 gap: 0.5rem;
 border: none;
 background-color: transparent;
 cursor: pointer;
}

.app__filters{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.app__search{
  

  width: 20rem;
  display: flex;
  padding: 0 1rem;
  padding-right: 0;
  gap: 1rem;

  box-shadow: 0 0 3px hsl(0, 0%, 52%);
}
.app__search input{
  border: none;
  padding: .8rem 0;
  padding-right: .7rem;
  width: 100%;
  outline: none;
}


.app_filter{
  width: 10rem;
  padding: .8rem;
  border: none;
  box-shadow: 0px 0px 5px 2px hsla(0, 0%, 0%,0.1);

}

.app_list{
  border: 1px solid red;
}